# Copyright (C) 2023-2024 Maciej Delmanowski <drybjed@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

# ~/.config/systemd/user/chimed.service

[Unit]
Description=Chime Daemon
After=network.target network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/chimed serve
KillSignal=SIGINT
TimeoutStopSec=3

[Install]
WantedBy=default.target
