# Copyright (C) 2023 Maciej Delmanowski <drybjed@gmail.com>
# SPDX-License-Identifier: GPL-3.0-or-later

# ~/.config/systemd/user/chimed.service

[Unit]
Description=Chime Daemon
After=network.target network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 %h/.local/bin/chimed
KillSignal=SIGINT
TimeoutStopSec=3

[Install]
WantedBy=default.target
